<template>
    <div class="top_nav">
        <div class="nav_menu">
            <nav class="" role="navigation">
                <ul class="nav navbar-nav">
                    <li>
                        <a><span>${router.currentInstruction.config.title}</span></a>
                    </li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li class="loader" if.bind="router.isNavigating">
                        <i class="fa fa-spinner fa-spin fa-2x"></i>
                    </li>
                </ul>
            </nav>
        </div>
    </div>
</template>