<template>
    <ai-dialog>
        <ai-dialog-body>
            <h4>Connection Parameters</h4>
            <form class="form-inline">
                <p>
                    <input type="text" class="form-control" value.bind="connection.alias" placeholder="Alias">
                </p>
                <p>
                    <input type="text" class="form-control" value.bind="connection.host" placeholder="Host">
                    <input type="text" class="form-control" value.bind="connection.port" placeholder="Port">
                </p>
                <p>
                    <div class="checkbox">
                        <label>
                            <input type="checkbox" checked.bind="connection.requiresAuth"> Requires authentication
                        </label>
                    </div>
                </p>
                <p if.bind="connection.requiresAuth">
                    <input type="text" class="form-control" value.bind="connection.username" placeholder="Username">
                    <input type="password" class="form-control" value.bind="connection.password" placeholder="Password">
                </p>
                <p>
                    <button type="submit" class="btn btn-default" click.delegate="saveConnection()">Save</button>
                    <button class="btn btn-default" click.delegate="cancelConnection()">Cancel</button>
                </p>
            </form>
        </ai-dialog-body>
    </ai-dialog>
</template>
