<template>
    <section>
        <h4>Connection</h4>
        <form class="form-inline" if.bind="!connected">
            <div class="input-group" if.bind="savedConnections.length">
                <span class="input-group-btn">
                    <div class="dropdown">
                        <button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true"
                        aria-expanded="true">
                            ${connection.alias}
                            <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu">
                            <li repeat.for="connection of savedConnections"><a href="" click.delegate="selectConnection(connection)">${connection.alias}</a></li>
                            <li class="divider"></li>
                            <li><a route-href="route: manage-connections">Manage connections</a></li>
                        </ul>
                    </div>
                </span>
                <input type="text" class="form-control" value.bind="collection" placeholder="Collection Name">
                <span class="input-group-btn">
                    <button type="submit" class="btn btn-default" click.delegate="connect()" disabled.bind="!collection">Connect</button>
                </span>
            </div>
            <div if.bind="!savedConnections.length">
                <p>No saved connections</p>
                <p>
                    <a route-href="route: manage-connections">Manage connections</a>
                </p>
            </div>
        </form>
        <div show.bind="connected">
            <div>
                <div class="row">
                    <div class="col col-sm-8">
                        Connected to <b>${selectedCollection}</b>&nbsp;
                        <button class="btn btn-default" click.delegate="disconnect()"
                                disabled.bind="disconnecting">Disconnect</button>
                    </div>
                    <div class="col col-sm-4">
                        <form class="form-inline pull-right">
                            <div class="input-group">
                                <input type="text" class="form-control" value.bind="collection" placeholder="Collection">
                                <span class="input-group-btn">
                                    <button type="submit" class="btn btn-default" click.delegate="selectCollection()" disabled.bind="!collection">Select</button>
                                </span>
                                <span class="input-group-btn">
                                    <button type="button" class="btn btn-default" click.delegate="dropCollection()" disabled.bind="!collection">Drop</button>
                                </span>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <hr>
            <form class="form-inline">
                <h3>Publish</h3>
                <input type="text" class="form-control" value.bind="data" placeholder="Event Data">
                <input type="text" class="form-control" value.bind="tags" placeholder="Space-Separated Tags">
                <button type="submit" class="btn btn-default" click.delegate="publish()"
                        disabled.bind="subscribed">Publish</button>
            </form>
            <form class="form-inline">
                <h3>Subscribe</h3>
                <div class="checkbox">
                    <label>
                        <input type="checkbox" checked.bind="liveStream"> Live Stream
                    </label>
                </div>
                <input type="number" class="form-control" value.bind="offset" placeholder="Offset">
                <input type="number" class="form-control" value.bind="limit" placeholder="Limit">
                <input type="text" class="form-control" value.bind="tag" placeholder="Tag">
                <button if.bind="!subscribed" type="submit" class="btn btn-default" click.delegate="subscribe()">
                    Subscribe
                </button>
                <button if.bind="subscribed" type="submit" class="btn btn-default" click.delegate="unsubscribe()"
                        disabled.bind="!liveStream || unsubscribing || disconnecting">
                    Unsubscribe
                </button>
            </form>
        </div>
        <hr>
        <p if.bind="messages.length">
            Messages
            <button type="submit" class="btn btn-default btn-xs pull-right" click.delegate="clearMessages()">Clear</button>
        </p>
        <ul class="list-group">
            <li class="list-group-item ${message.className}" repeat.for="message of messages">${message.payload}</li>
        </ul>
    </section>
</template>
