<template>
    <require from="./connection-handler"></require>
    <ul class="nav nav-tabs" role="tablist">
        <li role="presentation" repeat.for="tab of tabs">
            <a id="${'tab-' + $index}" href="${'#tab-content-' + $index}" role="tab" data-toggle="tab">
                ${tab.name}
                <span>&nbsp;&nbsp;<i class="fa fa-times" click.trigger="removeTab($index, $event)"></i></span>
            </a>
        </li>
        <li role="presentation">
            <a href="" click.delegate="addTab()">
                <i class="fa fa-plus"></i>
                <span if.bind="!tabs.length">&nbsp;New connection</span>
            </a>
        </li>
    </ul>
    <div class="tab-content">
        <div repeat.for="tab of tabs" role="tabpanel" class="tab-pane" id="${'tab-content-' + $index}">
            <connection-handler connection.two-way="tab.connection" collection.two-way="tab.collection"></connection-handler>
        </div>
    </div>
</template>
