<template>
    <section>
        <h4>
            Saved Connections
            <a href="" class="pull-right" click.delegate="newConnection()">New</a>
        </h4>
        <p if.bind="!savedConnections.length">
            No saved connections
        </p>
        <table class="table table-striped" if.bind="savedConnections.length">
            <thead>
                <tr>
                    <th>Alias</th>
                    <th>Host</th>
                    <th>Port</th>
                    <th>Username</th>
                    <th>Password</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                <tr repeat.for="connection of savedConnections">
                    <td>${connection.alias}</td>
                    <td>${connection.host}</td>
                    <td>${connection.port}</td>
                    <td>${connection.username}</td>
                    <td>${connection.password | obfuscate}</td>
                    <td>
                        <a href="" click.delegate="editConnection(connection)">Edit</a>
                        &nbsp;
                        <a href="" click.delegate="deleteConnection(connection)">Delete</a>
                    </td>
                </tr>
            </tbody>
        </table>
        <div if.bind="editing">
            <h4>Connection Details</h4>
            <form class="form-inline">
                <p>
                    <input type="text" class="form-control" value.bind="editingConnection.alias" placeholder="Alias">
                </p>
                <p>
                    <input type="text" class="form-control" value.bind="editingConnection.host" placeholder="Host">
                    <input type="text" class="form-control" value.bind="editingConnection.port" placeholder="Port">
                </p>
                <p>
                    <div class="checkbox">
                        <label>
                            <input type="checkbox" checked.bind="editingConnection.requiresAuth"> Requires authentication
                        </label>
                    </div>
                </p>
                <p if.bind="editingConnection.requiresAuth">
                    <input type="text" class="form-control" value.bind="editingConnection.username" placeholder="Username">
                    <input type="password" class="form-control" value.bind="editingConnection.password" placeholder="Password">
                </p>
                <p>
                    <button type="submit" class="btn btn-default" click.delegate="saveConnection()">Save</button>
                    <button class="btn btn-default" click.delegate="cancelConnection()">Cancel</button>
                </p>
            </form>
        </div>
    </section>
</template>
